html, body{
    height: 100%;
    font-family: Monaco;
}
body{
    display:flex;
    flex-direction: column;
    background-color: bisque;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

label, input{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-label{
    display:block;
}
.submitButton{
    display:block;
    background-color: aqua;
}
.form-container{
    flex-direction: row;
    flex:0 0 auto;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}